#resume-builder-controls
    font-size: 16rem

    display: flex
    flex-direction: column
    gap: 10rem

    & > *
        display: flex
        flex-direction: column
        gap: 5rem

    button
        padding: 3rem
        width: 50rem

#ss-named-cvs
    padding: 0 100rem

.cv-thumnail-container
    display: flex
    gap: 20rem
    overflow-x: scroll

    .cv-thumbnail
        flex: 1 0 75rem
        max-width: 75rem
        height: 100rem

        padding: 5rem

        word-wrap: break-word

        text-align: center
        align-content: center

        font-size: 10rem
        color: grey
        background-color: white

        border-radius: 7rem

        &:hover
            border: 2rem solid blue

        &.active
            color: black
            font-weight: bold
            border: 2rem solid black

#ss-export
    display: flex
    justify-content: center
    gap: 30rem
    button
        width: max-content
        padding: 5rem 10rem


// text-items

.text-items
    text-align: left
    direction: ltr

    width: 100%
    height: max-content

    display: flex
    flex-direction: column
    gap: 5rem

    .text-input
        padding: 5rem
        width: 100%
        background-color: white

    .items-container
        width: 100%
        min-height: 50rem
        border: 1px dashed black

        padding: 5rem

        .item
            padding: 3rem
            border: 1px dashed blue
