#section-cv
    & > .section-content
        font-size: 16rem

.resume-builder-controls
    font-size: 16rem

    display: flex
    flex-direction: row

    font-size: 16rem

    & > *
        padding: 5rem
        border: 1rem solid black
        &.selected
            background-color:#707070

#file-controls
    font-size: 16rem
    display: flex
    flex-direction: column
    & > *
        width: min-content
        white-space: nowrap


#display-info
    display: flex
    gap: 3em

    border: 1rem solid black
    padding: 20rem
    font-size: 20rem

    color: #2a2972

    & > div
        width: 100%

    .descr
        color: white
    .is-modified-status
        color: darkgrey
        margin-left: 2rem
    .export-container
        text-align: right


#ss-named-cvs
    display: flex
    flex-direction: column
    gap: 10rem

    #named-cvs-controls
        display: flex
        flex-direction: column
        justify-content: space-around
        & > *
            background-color: #2a2a2a
            color: #cecece
            width: 40rem
            text-align: center
            height: min-content
            &:hover
                background-color: #2a2a2a
                color: #e4e4e4
                cursor: pointer

#ss-export
    display: flex
    justify-content: center
    gap: 30rem
    button
        width: max-content
        padding: 5rem 10rem


// POPUPS --------------------------------

// all popups:
.popup-content
    padding: 20rem
    display: flex
    flex-direction: column
    align-items: center
    gap: 20rem
    & > *
        width: max-content

#import-popup
    & > div
        width: 100%
        display: flex
        flex-direction: column

    .json-paste-area
        min-width: 100%
        min-height: 10em
        resize: none
        &::placeholder
            text-align: center
    .error-message
        color: red
        font-size: 12rem
