#resume-builder-controls
    font-size: 16rem

    display: flex
    flex-direction: column
    gap: 10rem

    & > *
        display: flex
        flex-direction: column
        gap: 5rem

    button
        padding: 3rem
        width: 50rem