.button-set {
    display: flex;
    justify-content: center;
    gap: 20rem;
    padding: 10rem;
    height: min-content;

    & > * {
        height: min-content;
        width: max-content;
        padding: 5rem 12rem;
    }
}
