// *** if you put the below inside the .drag-drop-wrapper styles above, they will not work

.standalone-drag-item-wrapper {
    position: relative;
}

.dnd-item-wrapper {
    position: relative;

    & .dragging:active {
        opacity: 0.1;
    }

    // have to do this for some reason to get the hover to work
    & .droppable, &.droppable {
        background-color: lightcyan;
    }
}
