.cv-thumbnail
    width: max-content
    white-space: nowrap
    color: rgb(207, 207, 207) // when not selected
    padding: 2rem

    &:hover
        transform: scale(1.05)

    &.active
        color: white
        background-color: #2a2a2a
    &.is-modified
        background-color: #ffb0b0
