.versioned-item-container
    position: relative

.version-controls
    position: absolute
    top: 0
    left: -20rem

    display: flex
    flex-direction: column

.control-button
    padding: 2rem
    &#switch
        background-color: orange
    &#new
        background-color: lightgreen
