// PAGE RELATED:
$base-font-size: 0.26cqw
$bullet-point-gap:      calc(3 * $base-font-size)
$experiences-gap:       calc(5 * $base-font-size)
$sections_row_gap:      calc(5 * $base-font-size)

// delimited-list ----------------------------

.delimited-list
    display: flex
    flex-wrap: wrap
    & > *
        flex: 0 1 auto                     // Prevent children from expanding and ensure they fit their content
        white-space: wrap                  // Prevent wrapping
        white-space-collapse: preserve


// CV-EDITOR ----------------------------

#cv-editor
    height: 100% // take up the whole page
    // padding: $page-padding-top  $page-padding-sides
    color: black
    font-family: 'Arial Narrow Bold', sans-serif
    overflow: hidden

    display: grid
    grid-auto-rows: min-content // same as repeat(N, min-content), where N = # rows
    row-gap: 1%

    .section
        display: flex
        flex-direction: column
        // row-gap: $sec-row-gap
        .sec-head
            display: flex
            // gap: $sec-head-line-gap
            & > :first-child
                width: min-content
            & > :last-child
                width: 100%
        .experience
            display: flex
            flex-direction: column
            gap: 0.5em
            // first child
            .header-info
                display: flex
                flex-direction: column
                gap: 0.25em
                .hi-row-1, .hi-row-2
                    display: flex
                    justify-content: space-between
            // second child
            .exp-content
                // padding-left: $exp-indent


.divider
    font-style: italic
    font-weight: bold

.role-item-list
    display: flex
    gap: 7rem
    white-space: nowrap

.item-list
    width: max-content
    white-space: nowrap

// STYLES ------------------

.sec-head
    font-weight: bold

hr
    // HORIZONTAL LINE ACROSS CENTER OF DIV
    border: none
    // height: $sec-head-line-height
    border-bottom: solid black
    align-self: center


// SUB SECTION ------------------

.sub-sec
    display: flex
    gap: 0.5em

.sub-sec-head
    font-weight: bold


.title
    font-weight: bold

.role, .location
    font-style: italic

.item-list
    font-style: italic

// LINK ------------------------------------------------

.link
    display: flex
    white-space: nowrap
    // gap: $link-col-gap
    text-decoration: none
    color: black

// HEADER INFO ------------------------------------------------

#full-name
    text-align: center
    // font-size: $name-font
    white-space: nowrap
    font-weight: bolder

#link-list
    // font-size: $p-font
    display: flex
    justify-content: center
    gap: 1em

// sections[summary] ------------------------------------------------

.sec-summary
    display: flex
    flex-direction: column
    gap: 0.5em

// BUCKET LAYOUT TYPES ------------------

.exp-points
    display: flex
    flex-direction: column
    row-gap: $bullet-point-gap // TODO: this is tied to sass

.experiences
    display: grid
    row-gap: $experiences-gap // TODO: this is tied to sass

.sections
    display: grid
    row-gap: $sections_row_gap // TODO: this is tied to sass