.split-view
    display: flex
    flex-direction: row

    & .width-drag
        width: 15rem
        cursor: col-resize
        text-align: center
        text-wrap: none
        background-color: rgb(48, 48, 48)
        border: 1px solid black

// .hidden
//     width: 0%
//     display: none
