/* APP SECTIONs --------------------- */

.AppSection {
	/*	[heading]
		[content] */

	display: flex;
	flex-direction: column;
	background-color: grey;
	padding: 30rem;
	border-radius: var(--main-border-radius);

	height: min-content;

	& > .app-sec-head {
		font-size: 25em;
		margin-bottom: 10rem;
		border-bottom: 4rem solid rgb(35, 35, 35);
	}

	& > .section-content {
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		gap: 30rem;
	}
}